@{
    ViewBag.Title = "Trang chủ";
}


<!-- Content -->
<div class="container">
    <!-- Dịch vụ cung cấp -->
    <h2 class="pt-3 pb-1">Dịch vụ cung cấp</h2>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card p-1">
                    <img src="~/Content/img/banner-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Phòng cho thuê</h5>

                        <a href="#" class="btn btn-primary">Xem thêm</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-1">
                    <img src="~/Content/img/banner-2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Địa điểm nổi bật</h5>

                        <a href="#" class="btn btn-primary">Xem thêm</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-1">
                    <img src="~/Content/img/banner-3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Thuê xe</h5>

                        <a href="#" class="btn btn-primary">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Phòng cho thuê -->
    <h2 class="pt-3 pb-1">Phòng cho thuê</h2>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card p-1">
                    <img src="~/Content/img/banner-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Phòng cho thuê</h5>

                        <a href="#" class="btn btn-primary">Xem thêm</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-1">
                    <img src="~/Content/img/banner-2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Địa điểm nổi bật</h5>

                        <a href="#" class="btn btn-primary">Xem thêm</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-1">
                    <img src="~/Content/img/banner-3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Thuê xe</h5>

                        <a href="#" class="btn btn-primary">Xem thêm</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-1">
                    <img src="~/Content/img/banner-3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Thuê xe</h5>

                        <a href="#" class="btn btn-primary">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card p-1">
                    <img src="~/Content/img/banner-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Phòng cho thuê</h5>

                        <a href="#" class="btn btn-primary">Xem thêm</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-1">
                    <img src="~/Content/img/banner-2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Địa điểm nổi bật</h5>

                        <a href="#" class="btn btn-primary">Xem thêm</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-1">
                    <img src="~/Content/img/banner-3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Thuê xe</h5>

                        <a href="#" class="btn btn-primary">Xem thêm</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-1">
                    <img src="~/Content/img/banner-3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Thuê xe</h5>

                        <a href="#" class="btn btn-primary">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Địa điểm nổi bật -->
    <h2 class="pt-3 pb-1">Địa điểm nổi bật</h2>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card p-1">
                    <img src="~/Content/img/banner-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Phòng cho thuê</h5>

                        <a href="#" class="btn btn-primary">Xem thêm</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-1">
                    <img src="~/Content/img/banner-2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Địa điểm nổi bật</h5>

                        <a href="#" class="btn btn-primary">Xem thêm</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-1">
                    <img src="~/Content/img/banner-3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Thuê xe</h5>

                        <a href="#" class="btn btn-primary">Xem thêm</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-1">
                    <img src="~/Content/img/banner-3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Thuê xe</h5>

                        <a href="#" class="btn btn-primary">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Thuê xe -->
    <h2 class="pt-3 pb-1">Thuê xe</h2>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card p-1">
                    <img src="~/Content/img/banner-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Phòng cho thuê</h5>

                        <a href="#" class="btn btn-primary">Xem thêm</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-1">
                    <img src="~/Content/img/banner-2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Địa điểm nổi bật</h5>

                        <a href="#" class="btn btn-primary">Xem thêm</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-1">
                    <img src="~/Content/img/banner-3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Thuê xe</h5>

                        <a href="#" class="btn btn-primary">Xem thêm</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-1">
                    <img src="~/Content/img/banner-3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Thuê xe</h5>

                        <a href="#" class="btn btn-primary">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
