@{
    ViewBag.Title = "Liên hệ";
}


<!-- Content -->
<div class="container">
    <h2 class="pt-3 pb-1">Liên hệ với chúng tôi</h2>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Tên liên hệ</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Tên của bạn">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Nội dung liên hệ</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
    </div>
    <img class="w-100" src="~/Content/img/banner-2.jpg">
</div>
